 * {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
     font-family: 'Rubik', sans-serif;
 }


 .img-overlay {
     width: 100%;
     height: 100vh;

     background-color: rgba(0, 0, 0, 0.5);
 }

 .img-header {
     position: relative;
     background-image: url(img/bolo5.jpg);
     background-size: cover;
     width: 100%;
     height: 100vh;
 }

 .title-header {
     position: absolute;
     top: 30%;
     left: 0%;
     transition: translate(-50%, -50%);
     text-align: center;
     color: #ffffff;
     width: 100%;
 }

 .title-header h1 {
     font-size: 70px;
     font-weight: bold;
 }

 .title-header h2 {
     font-size: 20px;
     font-style: bold;
 }

 .section {
     display: flex;
     justify-content: space-evenly;
     height: 230px;
     width: 100%;
 }

 .section-menu {
     display: flex;
     justify-content: space-evenly;
     width: 100%;
 }

 .img-bolo {
     margin-top: 10%;
 }

 .description-bolo {
     width: 50%;
     position: relative;
     margin-left: 70%;
     bottom: 50%;
 }

 .description-bolo h2 {
     font-size: 20px;
     font-weight: bolder;
     text-align: left;
 }

 .description-bolo h3 {
     text-align: left;
 }

 .img-torta {
     width: 27%;
     margin-top: 10%;
 }

 .description-torta {
     width: 50%;
     text-align: center;
     position: relative;
     margin-left: 60%;
     bottom: 50%;
 }

 .description-torta h2 {
     font-size: 20px;
     font-weight: bolder;
     text-align: left;

 }

 .description-torta h3 {
     text-align: left;
 }

 .img-sorvete {
     margin-top: 10%;
     padding-left: 40%;
 }

 .description-sorvete {
     width: 50%;
     position: relative;
     margin-left: 135%;
     bottom: 50%;
 }

 .description-sorvete h2 {
     font-size: 20px;
     font-weight: bolder;
     text-align: left;
 }

 .description-sorvete h3 {
     text-align: left;
 }

 .img-pudim img{
     width: 40%;
     margin-bottom: 20%;
     padding-left: 20%;
     position: relative;
 }

 .description-pudim {
     width: 50%;
     text-align: center;
     position: relative;
     margin-left: 65%;
     bottom: 120%;
 }

 .description-pudim h2 {
     font-size: 20px;
     font-weight: bolder;
     text-align: left;

 }

 .description-pudim h3 {
     text-align: left;
 }


 .section2 {
     display: flex;
     justify-content: space-evenly;
     height: 230px;
 }

 .section-menu2 {
     display: flex;
     justify-content: space-around;
     width: 100%;
 }

 .section-quartas {
     display: flex;
     justify-content: space-between;
     width: 100%;
     background-color: rgb(218, 48, 112);
     position: relative;
 }

 .img-quarta img {
     width: 60%;
 }


 .fundo-img {
     width: 100%;
     margin-right: 10%;
     color: #ffffff;
 }

 .description-quarta h2 {
     display: flex;
     justify-content: center;
 }

 .title-quarta h2 {
     font-size: 50px;
     font-weight: bold;
     padding: 30px;
     text-align: right;
 }


 .title-quarta h3 {
     font-size: 20px;
     font-weight: bold;
     padding-bottom: 30px;
     padding-left: 2%;
     width: 100%;
     text-align: right;
 }

 .subscribe {
     background-color: rgb(233, 224, 99);
     position: relative;
     color: #ffffff;
 }

 .title-subscribe {
     text-align: center;
     font-size: 20px;
 }

 .title-subscribe h2 {
     display: flex;
     justify-content: center;
     font-size: 70px;
     font-weight: bold;
     padding-top: 50px;
 }

 .description-container {
     text-align: center;
     font-size: 20px;
     display: flex;
     justify-content: center;
 }

 .description-subscribe {
     display: flex;
     justify-content: center;
     text-align: center;
     font-size: 20px;
     padding-top: 50px;
     width: 70%;
     bottom: 20px;
     position: relative;
 }


 .div-form {
     display: flex;
     justify-content: center;
     padding-bottom: 50px;
 }

 form input {
     width: 600px;
     display: flex;
     padding-bottom: 20px;
     border-radius: 30px;
     border: 2px solid rgb(0, 255, 0);
     background-color: transparent;
     position: relative;
     font-size: 20px;
     text-align: left;
     padding-left: 30px;
     padding-top: 15px;
 }

 .div-form ::placeholder {
     padding-bottom: 40px;
     padding-left: 20px;
     position: relative;
 }

 .email-title {
     position: relative;
     padding-top: 20px;
 }

 form button {
     background-color: rgb(72, 255, 0);
     display: flex;
     justify-content: center;
     border-radius: 20px;
     width: 100%;
     top: 10px;
     position: relative;

 }


 form button h3 {
     margin-bottom: 10px;
     margin-top: 15px;
     color: #ffffff;
 }


 @media screen and (max-width:768px) {
     .title-header h2 {
         width: 90%;
         padding-left: 5%;
     }

     .section2 {
         position: relative;
         height: 450px;
     }


     .section-menu {
         display: block;
     }

     .section2 {
         display: block;
         position: relative;
     }

     .section-menu2 {
         display: block;
         margin-top: 300px;
     }

     .img-bolo {
         position: absolute;
         margin-right: 50%;
     }

     .description-bolo {
         padding-top: 15%;
         position: relative;
         width: 40%;
     }

     .img-torta {
         padding-top: 20%;
         position: absolute;
     }

     .description-torta {
         padding-top: 35%;
         right: 0%;
         width: 40%;
         position: relative;
     }

     .img-sorvete img{ 
         top: 10%;
         right: 20%;
         position: absolute;
     }

     .description-sorvete {
         position:relative ;
         margin-left: 95%;
         margin-bottom: 10px;
         width: 30%;
     }

     .img-pudim img{
        width: 60%;
        top: 50%;
        right: 40%;
        position: absolute; 
     }

     .description-pudim {
         right: 60px;
         top: 60%;
         left: 0%;
         position: absolute;
     }

     .section-quartas{
        background-color: aquamarine;
        height: 250px;
     }

     .img-quarta img{
        background-color: black;
        position: absolute;
        height: 50%;
     }

     .title-quarta h2 {
         margin-left: 70%;
         font-size: 30px;
         position: relative;
     }

     .title-quarta h3 {
         margin-left: 26%;
         width: 50%;
         bottom: 0%;
         left: 20%;
         position:absolute;
     }


     .subscribe {
         height: 100%;
     }

     form button {
         width: 110%;
         display: flex;
         justify-content: center;
     }

     form input {
         width: 100%;
     }
 }

 @media screen and (max-width:900px) {
     .description-bolo {
        margin-left: 60%;
     }

     .img-sorvete{
        right: 20%;
        position: relative;
     }

     .description-sorvete{
        right: 30%;
        position: relative;
     }

     .img-pudim{
        padding-left: 20%;
     }

     .description-pudim{
        width: 30%;
        padding-top: 8%;
     }

     .img-quarta img{
        height: 100%;
        width: 100%;
     }

     .img-quarta{
        width: 50%;
     }

 }